<div *ngIf="bubble; else loggedout">
<h2>Education details</h2>
<hr />
<div class="EducationDetails">
  <div class="row ml-1">
    <b>Secondary School Certification</b>
    <br />
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span >Gradepoint</span>
      <span class="flab2">9.8cgpa</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span >Passed on the year</span>
      <span class="flab">2014</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Name of the school</span>
      <span class="flab3">Delhi public school</span>
    </div>
  </div>

  <div class="row ml-1">
    <b>Intermediate</b>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Gradepoint</span>
      <span class="flab2">9.8cgpa</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span >Passed on the year</span>
      <span class="flab">2014</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span >Name of the school</span>
      <span class="flab3">Delhi public school</span>
    </div>
  </div>

  <div class="row ml-1">
    <b>Graduation</b>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Gradepoint</span>
      <span class="flab2">9.8cgpa</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Passed on the year</span>
      <span class="flab">2014</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Name of the school</span>
      <span class="flab3">Delhi public school</span>
    </div>
  </div>
  <div class="row ml-1">
    <b>Post Graduation</b>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span >Gradepoint</span>
      <span class="flab2">9.8cgpa</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Passed on the year</span>
      <span class="flab">2014</span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col">
      <br />
      <span>Name of the school</span>
      <span class="flab3">Delhi public school</span>
    </div>
  </div>
  <button (click)="navigatetoEdit()"  type="submit" class="btn btn-primary">Edit</button>   



</div>
</div>
<ng-template #loggedout>
  <app-edudetails></app-edudetails>
</ng-template>
    




