<div>
    <h1>Certificates Details</h1>
    <hr>
    <div class="row">

    <div class="col-md-2">
        <label for="">Course Name:</label>
    </div>
    <div class="col-md-4">
        <p>Java</p>
    </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <label for="">Type:</label>
        </div>
        <div class="col-md-4">
            <p>Full Time</p>
        </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <label for="">Topics Covered:</label>
            </div>
            <div class="col-md-4">
                <p>Core Java,Jdbc,Spring Framework</p>
            </div>
            </div>
            <div class="row">

                <div class="col-md-2">
                    <label for="">Results:</label>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <label for="">Approved by:</label>
                    </div>
                    <div class="col-md-4">
                        <p>XXXXXX</p>
                    </div>
                    </div>
                    <div class="row">

                        <div class="col-md-2">
                            <label for="">Institution:</label>
                        </div>
                        <div class="col-md-4">
                            <p>XXXXXX</p>
                        </div>
                        </div>
                                                               
                                        <div class="row mb-3">
                                            <div class="col-sm-10 offset-sm-2">
                                              
                                            </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary" >Edit</button>   
</div>
