<div>
    <h1>Additional Details</h1>
    <hr>
    <div class="row">

    <div class="col-md-2">
        <label for="">Passport Number:</label>
    </div>
    <div class="col-md-4">
        <p>1123 222 2222 2222</p>
    </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <label for="">Expiry Date:</label>
        </div>
        <div class="col-md-4">
            <p>10/2030</p>
        </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <label for="">About Visa Details:</label>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            </div>
            <div class="row">

                <div class="col-md-2">
                    <label for="">Visited Countries:</label>
                </div>
                <div class="col-md-4">
                    <p>UK </p>
                </div>
                </div>
                                                                              
                                        <div class="row mb-3">
                                            <div class="col-sm-10 offset-sm-2">
                                              
                                            </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary" >Edit</button>   
</div>
