<div>
    <div *ngIf="bubble; else loggedout">
    <h1>Career Overview</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
        <h3 style="font-weight: bold;">Job Skills:</h3>    
        </div>
        <div class="col-md-4">
            <p>C,Java,Python</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <h3 style="font-weight: bold;">Job Experience:</h3>    
        </div>
        <div class="col-md-4">
            <p>Work History 1</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label>Employer:</label>    
        </div>
        <div class="col-md-4">
            <p>xyz organization</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label>Position:</label>    
        </div>
        <div class="col-md-4">
            <p>Software Engineer</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label>Start Date</label>    
        </div>
        <div class="col-md-4">
            <p>01/02/2015</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label>End Date:</label>    
        </div>
        <div class="col-md-4">
            <p>01/02/2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label>Annual Salary:</label>    
        </div>
        <div class="col-md-4">
            <p>5.5</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
        <h3 style="font-weight: bold;">Courses:</h3>    
        </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                <label>Title:</label>    
                </div>
                <div class="col-md-4">
                    <p>Java</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                <label>Institution:</label>    
                </div>
                <div class="col-md-4">
                    <p>abc</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                <label>Description:</label>    
                </div>
                <div class="col-md-4">
                    <p>None</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                  
                </div>
              </div>
              <button (click)="navigatetoEdit()" type="submit" class="btn btn-primary">Edit</button>   
    </div>
    <ng-template #loggedout>
        <app-edit-career></app-edit-career>
      </ng-template>
     

</div>
