<div>
    <h1>Personal Details</h1>
    <hr>
    <div class="row">

    <div class="col-md-2">
        <label for="">Full Name:</label>
    </div>
    <div class="col-md-4">
        <p>Fiona Gallager</p>
    </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <label for="">DOB:</label>
        </div>
        <div class="col-md-4">
            <p>25/10/1995</p>
        </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <label for="">Gender:</label>
            </div>
            <div class="col-md-4">
                <p>Female</p>
            </div>
            </div>
            <div class="row">

                <div class="col-md-2">
                    <label for="">Address:</label>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <label for="">City:</label>
                    </div>
                    <div class="col-md-4">
                        <p>Banglore</p>
                    </div>
                    </div>
                    <div class="row">

                        <div class="col-md-2">
                            <label for="">State:</label>
                        </div>
                        <div class="col-md-4">
                            <p>Karnataka</p>
                        </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label for="">ZipCode:</label>
                            </div>
                            <div class="col-md-4">
                                <p>62001</p>
                            </div>
                            </div>
                            <div class="row">

                                <div class="col-md-2">
                                    <label for="">Phone Number:</label>
                                </div>
                                <div class="col-md-4">
                                    <p>+91-782000</p>
                                </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-2">
                                        <label for="">Email:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>email@gmail.com</p>
                                    </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label for="">Languages Known:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <p>English</p>
                                        </div>
                                        </div>
                                       
                                        <div class="row mb-3">
                                            <div class="col-sm-10 offset-sm-2">
                                              
                                            </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary">Edit</button>   
</div>