<br>
<br>
<div class="container" id="top" >
  <h1>Edit Personal Details</h1>
  <hr>
  <br>
    <form>
      <div class="row mb-3">
          <div class="col-sm-12">
        <label for="fullname" class="col-sm-2 col-form-label">Full Name<span class="required">*</span></label>
        </div>
        <br>

        <div class="col-sm-6">
          <input type="text" class="form-control" id="firstname" value="Fiona " >
          <label for="first" class="col-sm-4 col-form-label">First Name</label>
       
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="lastname" value=" Gallager" >
            <label for="last" class="col-sm-4 col-form-label">Last Name</label>
         
          </div>
      </div>
      <br>
      <div class="row mb-3">
         <div class="col-sm-12">
            <label for="date" class="col-sm-2 col-form-label">DOB<span class="required">*</span></label>
            <input type="date" class="form-control" id="date" value="25/10/1995">
          
         </div> 
      </div>
      <br>
      <div class="row mb-3">
        <div class="col-sm-12">
            <label for="gender">Gender<span class="required">*</span></label>
      <br>
   <select name="gender" id="gender" >
  <option value="Female">Female</option>
  <option value="Male">Male</option>
  <option value="Transgender">Transgender</option>
</select>
        </div> 
     </div>
      <div class="row mb-3">
          <div class="col-sm-12">
        <label for="address" class="col-sm-2 col-form-label">Address<span class="required">*</span></label>
        </div>
        <br>

         <div class="col-sm-12">
          <input type="text" class="form-control" id="address1" value="Tanta petere igitur, ne sineres memini">
          <label for="address1" class="col-sm-8 col-form-label">Street Address Line 1</label>
         
        </div>
        <br>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="address2" value="Tanta petere igitur, ne sineres memini">
            <label for="address2" class="col-sm-8 col-form-label">Street Address Line 2</label>
           
          </div>
          <br>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="city" value=" Banglore" >
            <label for="city" class="col-sm-4 col-form-label">City</label>
         
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="state" value=" Karnataka" >
            <label for="state" class="col-sm-4 col-form-label">State/Province</label>
         
          </div>
          <br>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="ZipCode" value=" 62001" >
            <label for="ZipCode" class="col-sm-4 col-form-label">ZipCode</label>
         
          </div>
      </div>
     
      <div class="row mb-3">
        <div class="col-sm-6">
            <label for="Phone" class="col-sm-6 col-form-label">Phone Number<span class="required">*</span></label>
            <input type="text" class="form-control" id="Phone" value=" +91-782000" >
            
          </div>
         <br>
         <div class="col-sm-6">
            <label for="email" class="col-sm-6 col-form-label">Email ID<span class="required">*</span></label>
            <input type="email" class="form-control" id="email" value="email@gmail.com" >
            
          </div>
      
      </div>
      <br>
      <div class="row mb-3">
        <div class="col-sm-12">
            <label for="Languages" class="col-sm-6 col-form-label">Languages Known<span class="required">*</span></label>
            <input type="text" class="form-control" id="Languages" value=" English" >
            
          </div>
      </div>
     
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div> 
